@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

header{
    padding: 10px;
    background-color: #000;
}

h1{
    font-family : 'Space Grotesk';
    color: #fff;
    font-weight: 700;
}